body {
  text-align: center;
  position: relative;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

body button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  margin-bottom: 20px;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
img {
  position: absolute;
  width: auto;
  height: 100vh;
  margin: auto;
  align: center;
}

div {
  display: flex;
  align-content: center;
  justify-content: center;
}

.game-over-div {
  display:none;
  width: 100vw;
  height: 100vh;
  background-color: rgb(254, 225, 1);
}
